/*
Name: Joshua Simpers
Assignment: Produce a header that can be scaled horizontally
Date: Oct-25th-2024
File: style.css
*/

/* this is some magical font-importing.  
you'll learn about it later. */
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
}

.header {
  /*adds a padding of 8px for all contents of the header from the edge of the header*/
  padding: 8px;
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  /*sets the display method to use flexboxes*/
  display: flex;
  /*aligns the items within the header vertically to the center*/
  align-items: center;
  /*puts as much space as possible between the individual items of the header based on the size of the webpage*/
  justify-content:space-between;
}

.profile-image {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.logo {
  color: rebeccapurple;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
}

button {
  border: none;
  border-radius: 8px;
  background: rebeccapurple;
  color: white;
  padding: 8px 24px;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: rebeccapurple;
}

/*creates a class for the contents on the lefthand side of the header*/
.left
{
  /*sets the display method of the lefthand contents from standard to flex*/
  display: flex;
  /*adds a gap of 16px between each item on the lefthand side*/
  gap: 16px;
}

/*creates a class for the contents on the righthand side of the header*/
.right
{
  /*sets the display method of the righthand contents from standard to flex*/
  display: flex;
  /*adds a gap of 16px between each item on the righthand side*/
  gap: 16px;
}

ul {
  list-style-type: none;
  /*sets the display method from standard to flex for the items within the unordered lists*/
  display: flex;
  /*removes the margin*/
  margin: 0;
  /*removes the padding*/
  padding: 0;
  /*adds a 16px gap in between each item of the unordered lists*/
  gap: 16px;
  /*aligns the items of the unordered lists vertically by their center*/
  align-items: center;
}
